@import '../../../variables/Variables.scss';

.containerOuterLibrary{
  width: 100%;
  display: flex;
  justify-content: center !important;  
}

 .containerLibrary{
  display: flex ;
  flex-wrap: wrap ;
  justify-self: center;
  width: auto;
  }

  .libraryCard{
    display: inline-block !important;
    border: 1px solid grey;
    width: 400px;
    max-height: 400px;
    margin: 30px;
    font-family: "Bebas Neue", cursive;
    font-style: italic;
  }

  .descr-div{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cardImg{
    width: 100%;
    height: 230px;
    object-fit: cover;
  }

  .details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
  }
  .content{
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px !important;
  }

  .motoTitle{
    text-align: center;
    color: $FontColor;
    font-size: 20px;
  }
  .motoCreator{
    text-align: center;
    color: grey;
    font-size: 15px;
  }
  .motoDescr{
    color: black;
    font-size: 15px;
    font-family: $Font;
    font-style: italic;
  }

  .noMotoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .noMoto{
    margin-top: 20px;
    text-align: center;
    color: $FontColor;
    height: 80vh;
    font-family: $Font;
    font-style: italic;
  }
  .libraryText{
    color: $FontColor;
    margin: 20px;
    font-family: $Font;
    font-style: italic;
  }
  .playBtn{
    color: $FontColor;
    background-color: green;
    border: 0;
    border-radius: 5px;
    z-index: 0;
    width: 100%;
    font-family: $Font !important;
    font-style: italic;
  } 

  @media all and (max-width: 461px) {
    .libraryCard{
      width: 360px;
    }
  }

  @media all and (max-width: 420px) {
    .libraryCard{
      width: 350px;
    }
  }

  @media all and (max-width: 410px) {
    .libraryCard{
      width: 300px;
    }
  }

  @media all and (max-width: 360px) {
    .libraryCard{
      width: 270px;
    }
  }

  @media all and (max-width: 330px) {
    .libraryCard{
      width: 250px;
    }
  }

  @media all and (max-width: 310px) {
    .libraryCard{
      width: 230px;
    }
  }

  @media all and (max-width: 290px) {
    .libraryCard{
      width: 220px;
    }
  }
