// @import '../../../styles/Styles.css';


.btns{
    background-color: #0099ff;
    color: white;
    padding: 10px 20px;
  }
  .inps{
    margin: 10px 0;
    border-bottom: 1px white solid;
  }
  .inpColor{
    color: white;
  }

  .container{
    margin: 50px;
    display: flex;
    justify-content: center ;
  }

  .cont{
    display: flex;
    justify-content:center !important;
    padding:90px;
    width: 400px;
    height: 500px;
    background-color: black;

  }
  .visBtn{
    color: white;
    margin-left: -50px;
  }
  .grids{
    display: flex;
    align-items: center;
  }