.footer{
    width: 100%;
    background-color: black;
  };
  .icons{
    color: white;
  };
  .text{
    color: grey;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  };
  .iconsFooter{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  };