@import '../../../variables/Variables.scss';

.footer{
    width: 100%;
    background-color: black;
  };
  .icons{
    color: $FontColor;;
  };
  .text{
    color: $FontColor;;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: $Font;
    font-style: italic;
  };
  .iconsFooter{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  };