@import '../../../variables/Variables.scss';

.containerOuter{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
  }
  .review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .seeMore {
    display: flex;
    justify-content: space-between;
  }

  .see-more{
    margin-top: 50px !important;
    background-color: #ce1e1e !important;
    font-family: $Font !important;
    color: white !important;
    font-style: italic !important;
    font-size: 20px !important;
  }

  .about-us{
    color: $FontColor;
    font-family: $Font !important;
    text-align: center;
    font-style: italic !important;
  }

  .sort-button{
    font-family: $Font !important;
    font-style: italic !important;

  }

  