
.containerOuter{
  display: flex;
  justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .grids{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .addMoto{
    text-decoration: none;
    color: $FontColor;;
  }
  .sorryH1{
    color: $FontColor;;
    height: 80vh;
  }
  .addBtn{
    background-color: green;
    color: $FontColor;;
  }
  .menuMobile{
    left: 15;
    background-color: $FontColor;;
    color: black;
    opacity: 80%;
    z-index: 1;
  }