.container{
    margin: 40px;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .bullet{
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
  }
  .title{
    font-size: 14px;
  }
  .pos{
    margin-bottom: 12px;
  }
  .icons{
    width: 200px;
    height: 200px;
  }
  .card{
    width: 400px;
    max-height: 400px;
    margin: 30px;
  }
  .cards{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hrefs{
    text-decoration: none;
  }