@import '../../../variables/Variables.scss'; 

.detailsContainer{
    display: flex;
    justify-content: center;
    width: 100%;
  }

.moto-details{
  width: 80%;
  font-family: $Font;
  font-style: italic;
  color: $FontColor;
  margin-bottom: 10px !important;
}

.hr{
    color: $FontColor;;
    border: 1px solid white;
    border-radius: 5px;
    margin: 50px 0;
  }
.homeLink{
    color: $FontColor;;
    text-decoration: none;
  }
.h1{
    color: $FontColor;;
    margin-bottom: 30px;
    font-size: 30px;
  }
.p{
    font-family: 'Roboto', serif;
    color: $FontColor;
    margin-top: 20px;
  }
.left{
    width: 100%;
  }

.right{
  margin-top: 30px;
  width: 100%;
  margin-left: 10px;
  }

.vl{
    width: 2.1px;
    height: 100px;
    background-color: $FontColor;;
    border-radius: 2px;
    opacity: 20%;
    display: inline-block;
  }
.type{
    display: flex;
    width: 100px;
    justify-content: space-between;
  }
.imgDet{
    border-radius: 10px;
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
.video{
    width: 80%;
  }
.buyBtns{
    margin-top: 10px;
}

.buy-button-details{
  font-family: $Font !important;
  background-color: #ce1e1e !important;
  color: white !important;
  font-style: italic !important;
}

.cart-button-details{
  font-family: $Font !important;
  color: #ce1e1e !important;
  font-style: italic !important;
}

@media all and (min-width: 400px){
  .imgDet{
    height: 350px;
  }
}
@media all and (min-width: 500px){
  .imgDet{
    height: 400px;
  }
}

@media all and (min-width: 800px){
  .imgDet{
    height: 600px;
  }
}
@media all and (min-width: 900px){
  .imgDet{
    height: 700px;
  }
}

@media all and (min-width: 1150px){
  .imgDet{
    height: 900px;
  }
}