@import '../../../variables/Variables.scss';

.editButton {
    color:  inherit;
    color: $FontColor;
    border-radius:  5px;
    margin-left:  10px;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }
.deleteButton{
    border: 0;
    border-radius: 5px;
    color: $FontColor;
    &:hover{
      transform: scale(1.2);
      transition: .5s;
    }
  }

.Moto-card {
    width: 350px;
    height: 280px;
    border-radius: 5px;
    margin: 30px 12px ;
    color: $FontColor;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.68);

  }
  .Moto-card-info {
    margin-top: 30px;
    font-family: $Font;
    font-style: italic;
    line-height: 25px;
    font-size: 20px;
  }
  .Moto-img-div {
    height: 70%;
  }
  .Moto-card:hover {
    transform: scale(1.05);
    transition: .5s;
  }

  .Moto-card-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  .card-price{
    font-family: 'Arial';
  }
  